body {
    font-family: Inter,  sans-serif; /* Familia de fuentes */
    font-size: 20px; /* El tama침o de la fuente principal en el tag <p></p> */
    background-color: #5988ff; /* El color del fondo de la p치gina web */
    color: #FFFFFF; /* El color del texto*/ 
    text-decoration-color: #D6FF6B;
}
h1 {
    color: #FD98FB; /* El color de la cabecera */
    font-size: 40px; /* El tama침o de la fuente de la cabecera */
    font-family: Inter, sans-serif; /* La familia tipogr치fica utilizada en la cabecera */
}