@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: red;
    }
  
    100% {
      color: blue;
    }
}
body {
    font-family: 'Inter', round, sans-serif; /* Familia de fuentes */
    font-size: 20px; /* El tamaño de la fuente principal en el tag <p></p> */
    background-color: #fd98fb; /* El color del fondo de la página web */
    color: #FFFFFF; /* El color del texto*/ 
}
h1 {
    color: rgb(0, 0, 73); /* El color de la cabecera */
    animation: color-change 3s infinite;
    font-size: 40px; /* El tamaño de la fuente de la cabecera */
    font-family: 'Inter', round, sans-serif; /* La familia tipográfica utilizada en la cabecera */
    }

h2 {
    color: #D6FF6B; /* El color de la cabecera */
    font-size: 30px; /* El tamaño de la fuente de la cabecera */
    font-family: 'Inter', round, sans-serif; /* La familia tipográfica utilizada en la cabecera */
}